<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chiquito de la Calzada - ERROR 404</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav id="menu-navegacion">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/work">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
      </nav>

    <div class="main">
    <div class="contenido">

    <h1>ERROR 404</h1>
    <img class="img" src="images/chiquito_error.jpg" alt="Chiquito de la Calzada" />

  
    </div>
</div>

<footer>
  Web realizada por: Antonio, Rishi y Elliot
</footer>
  </body>
</html>
