<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chiquito de la Calzada - About page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav id="menu-navegacion">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/work">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
      </nav>

    <div class="main">
    <div class="contenido">

    <h1>About page</h1>
    <img class="img" src="images/chiquito.jpg" alt="Chiquito de la Calzada" />

    
      <p>Chiquito de la Calzada fue un famoso humorista español conocido por su
      estilo cómico único y su peculiar forma de hablar, llamada "chiquitismo".
      Nació el 14 de noviembre de 1932 y falleció el 11 de noviembre de 2017.
      Alcanzó gran popularidad en los años 90 gracias a sus apariciones en
      programas de televisión y sus monólogos cómicos. Su humor absurdo y su
      carisma lo convirtieron en un icono del humor en España, y su legado
      perdura en la memoria colectiva del país.</p>
    </div>
</div>
  </body>
</html>
