<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chiquito de la Calzada - Gallery page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav id="menu-navegacion">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/work">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
      </nav>
    <div class="main">
        <div class="contenido">

    <h1>Chiquito de la Calzada</h1>
    <h2>Sus mejores fotos</h2>

    <div class="gallery">
        <div class="foto">
         <img src="images/chiquito.jpg" alt="Chiquito1">
        </div>

         <div class="foto">
            <img src="images/chiquito3.jpg" alt="Chiquito1">
         </div>        
        
         <div class="foto">
            <img src="images/chiquito4.jpg" alt="Chiquito1">
         </div>

         <div class="foto">
            <img src="images/chiquito5.webp" alt="Chiquito1">
         </div>

         <div class="foto">
            <img src="images/chiquito7.webp" alt="Chiquito1">
         </div>
         
         <div class="foto">
            <img src="images/chiquito2.jpg" alt="Chiquito1">
         </div>
         
         <div class="foto">
            <img src="images/chiquito6.jpg" alt="Chiquito1">
         </div>

    </div>
    
    </div>
   </div>
   
    <footer>
      Web realizada por: Antonio, Rishi y Elliot
    </footer>
  </body>
</html>
