<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chiquito de la Calzada - About page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav id="menu-navegacion">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/work">Works</a></li>
          <li><a href="/gallery">Gallery</a></li>
      </nav>

    <div class="main">
    <div class="contenido">

    <h1>Chiquito de la Calzada</h1>
    <h2>Su trabajo</h2>

    
      <p>
        Chiquito de la Calzada, cuyo nombre real era Gregorio Sánchez Fernández,
        fue un humorista y actor español conocido por su estilo cómico único y
        su peculiar forma de hablar. A lo largo de su carrera, participó en una
        variedad de trabajos en el mundo del espectáculo. Aquí tienes algunos
        aspectos destacados de su trabajo:
      </p>

      <p>
        Monólogos cómicos: Chiquito de la Calzada alcanzó gran popularidad en
        los años 90 gracias a sus monólogos cómicos en programas de televisión
        españoles. Sus intervenciones se caracterizaban por su chiquitismo, un
        estilo de hablar lleno de términos inventados y juegos de palabras que
        hacían reír al público.
      </p>

      <p>
        Películas: Además de sus apariciones en televisión, Chiquito también
        incursionó en el cine. Participó en varias películas cómicas, donde a
        menudo interpretaba personajes graciosos y extravagantes.
      </p>

      <p>
        Espectáculos teatrales: Chiquito de la Calzada llevó su humor al
        escenario con espectáculos teatrales en los que combinaba monólogos,
        chistes y números cómicos para entretener a su audiencia en vivo.
      </p>

      <p>
        Publicidad: Debido a su gran popularidad, Chiquito también fue requerido
        para protagonizar anuncios publicitarios, donde su estilo humorístico y
        peculiaridad en el habla eran aprovechados para promocionar diferentes
        productos y marcas.
      </p>

      <p>
        Programas de televisión: Además de sus monólogos, Chiquito de la Calzada
        participó en numerosos programas de televisión como invitado especial y
        en roles cómicos, ampliando aún más su alcance y llegando a una
        audiencia más amplia.
      </p>

      <p>
        lo largo de su carrera, Chiquito recibió varios premios y
        reconocimientos por su contribución al mundo del entretenimiento. Su
        estilo cómico único y su autenticidad lo convirtieron en un icono del
        humor en España, y su legado sigue siendo recordado y admirado por
        muchas personas. Aunque ya no esté entre nosotros, su impacto en la
        cultura popular continúa siendo significativo.
      </p>
    </div>
    </div>

    <footer>
      Web realizada por: Antonio, Rishi y Elliot
    </footer>
  </body>
</html>
